<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-5">
              <div class="card-body text-center">
                  <!-- Imagen circular -->
                  <img src="../../../assets/foto_perfil.png" alt="Foto de perfil" class="rounded-circle" style="width: 150px; height: 150px; background-color: brown;">
              </div>
              <div class="card lg mx-5 my-1">
                  <div class="card-body">
                      <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
                          <mat-grid-list cols="1" rowHeight="80px">
                              <mat-grid-tile>
                                  <mat-form-field appearance="outline" style="width: 100%;">
                                      <mat-label>Email</mat-label>
                                      <input formControlName="email" matInput autocomplete="off">
                                  </mat-form-field>
                              </mat-grid-tile>
                              <mat-grid-tile>
                                  <mat-form-field appearance="outline" style="width: 100%;">
                                      <mat-label>Contraseña</mat-label>
                                      <input formControlName="contrasena" matInput autocomplete="off">
                                  </mat-form-field>
                              </mat-grid-tile>
                              <mat-grid-tile>
                                  <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary" style="width: 100%;">Iniciar Sesion</button>
                              </mat-grid-tile>
                          </mat-grid-list>
                      </form>
                  </div>
              </div>
              <div class="card-body text-center">
                 <p> <span>¿No tienes cuenta? <a>Registrarse</a></span></p>
                 <p> <span><a>Recuperar Contraseña</a></span></p>
              </div>
          </div>
      </div>
  </div>
</div>
